html, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	margin:0;padding:0;
    text-rendering: optimizeLegibility;
    font-family: 'Droid Sans', sans-serif;
}

div.golem-accountpromo {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:960px;
    height:300px;
    background:#7fb71e;
    color:white;
    font-family:"Droid Sans", sans-serif;
}

div.golem-accountpromo.artikel {
    width:300px;
    height:340px;
}

div.golem-accountpromo div.golem-accountpromo-img {
    position:absolute;
    display:block;
    width:271px;
    height:217px;
    top:40px;left:40px;
    background-size:100% 100%;
    -webkit-transition:opacity 500ms 250ms ;
    transition:opacity 500ms 250ms;
}

div.golem-accountpromo.artikel div.golem-accountpromo-img {
    width:117px;
    height:94px;
    left:165px;
    top:20px;
}

div.golem-accountpromo div.golem-accountpromo-img.mit {
    background-image:url(./img/display-mit-werbung4.png);
    opacity:1;
    z-index:0;
}
div.golem-accountpromo div.golem-accountpromo-img.ohne {
    background-image:url(./img/display-ohne-werbung4.png);
    opacity:0;
    z-index:10;
}

div.golem-accountpromo:hover div.golem-accountpromo-img.ohne { opacity:1; }

div.golem-accountpromo h1.golem-accountpromo {
    position:absolute;
    top:30px;
    left:340px;
    margin:0; padding:0;
    font-size:38px;
    font-weight:700;
}

div.golem-accountpromo.artikel h1.golem-accountpromo {
    left:20px;
    top:20px;
    font-size:26px;
    line-height:35px;
    width:160px;
}


div.golem-accountpromo ul.golem-accountpromo-vorteile {
    position:absolute;
    font-size:18px;
    line-height:35px;
    top:90px;
    left:360px;
    margin:0; padding:0;
}

div.golem-accountpromo.artikel ul.golem-accountpromo-vorteile {
    top:140px;
    left:35px;
    font-size:14px;
    line-height:30px;
}


div.golem-accountpromo a.golem-accountpromo-cta,
div.golem-accountpromo a.golem-accountpromo-cta:visited {
    position:absolute;
    right:30px;
    bottom:30px;
    height:45px;
    width:270px;
    line-height:45px;
    color:white;
    font-size:22px;
    text-align:center;
    background:#2ea5c5;
    cursor:pointer;
    text-decoration:none;
    -webkit-transition:background 500ms;
    transition:background 500ms;
}

div.golem-accountpromo.artikel a.golem-accountpromo-cta,
div.golem-accountpromo.artikel a.golem-accountpromo-cta:visited {
    right:20px;
    bottom:20px;
    width:260px;
}


div.golem-accountpromo a.golem-accountpromo-cta:hover {
    background:black;
}